<body>

	<div class='container'>
		<h1>Enter resolutions</h1>
		<label class="hide-finished">
			<input type="checkbox" checked="{{hideFinished}}">
			Hide Checked Resolutions
		</label>
		<form class="new-resolution">
			<input type="text" name="title" placeholder="enter title">
			<input type="submit" name="submit" value='Submit'>
		</form>
	</div>

	<ul>
		{{#each resolutions}}
			{{> home}}
		{{/each}} 
	</ul>
</body>
<template name="home">
	<li class="{{#if checked this._id}}checked{{/if}}">
		<input type="checkbox" checked="{{checked this._id}}" class="toggle-checked">
		<span class="text">{{name}}</span> 
		<button class="delete">Remove</button>
	</li>  
</template>